@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
}

html {
    min-height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
    background-image: url('../images/bg-main-desktop.png');
    background-repeat: no-repeat;
}

:root {
    --linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --red: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 125px;
    align-items: center;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.card-front {
    height: 245px;
    width: 445px;
    background-image: url('../images/bg-card-front.png');
    background-size: cover;
}

.card-logo {
    margin-top: 30px;
    margin-bottom: 70px;
}

.card-back {
    height: 245px;
    width: 445px;
    background-image: url('../images/bg-card-back.png');
    background-size: cover;
    margin-left: 95px;
}

.card-details-front {
    color: var(--white);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.card-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.card-details-back {
    color: var(--white);
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}

.personal-info-container {
    width: auto;
}

.personal-info {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.personal-info-date {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

button {
    height: 55px;
    width: 380px;
    border: none;
    background-color:hsl(278, 94%, 30%);
    color: var(--white);
    border-radius: 15px;
}

.card-pi-name, .card-pi-number {
    width: 100%;
    height: 40px;
}

.card-pi-month, .card-pi-year {
    width: 80px;
    height: 40px;
}

.card-pi-cvc {
    width: 100%;
    height: 40px;
}

.personal-info-success {
    display: none;
}

.attribution {
    width: 100%;
    margin-top: -35px;
    font-size: 11px;
    text-align: center;
}

input {
    border-radius: 15px;
    border: none;
    outline: 1px solid var(--dark-grayish-violet);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}